<div class="errors">
  <% if kitten.errors.any? %>
    <%= "#{pluralize(kitten.errors.count, 'error')} prevented this form from being submitted" %>
    <ul>
      <li>
        <% kitten.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      </li>
    </ul>
    
  <% end %>
</div>

<%= form_with model: kitten do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.select :age, 1..20 %>
  <%= f.label :cuteness %>
  <%= f.select :cuteness, 1..10 %>
  <%= f.label :softness %>
  <%= f.select :softness, 1..10 %>
  <%= f.submit %>
<% end %>